[submodule "pack/packer/start/packer.nvim"]
	path = pack/packer/start/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
[submodule "plugins/glepnir/galaxyline.nvim"]
	path = plugins/glepnir/galaxyline.nvim
	url = git@github.com:glepnir/galaxyline.nvim
[submodule "plugins/akinsho/nvim-bufferline.lua"]
	path = plugins/akinsho/nvim-bufferline.lua
	url = git@github.com:akinsho/nvim-bufferline.lua
[submodule "plugins/kyazdani42/nvim-web-devicons"]
	path = plugins/kyazdani42/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "plugins/mhinz/vim-startify"]
	path = plugins/mhinz/vim-startify
	url = git@github.com:mhinz/vim-startify
[submodule "plugins/kyazdani42/nvim-tree.lua"]
	path = plugins/kyazdani42/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua
[submodule "plugins/nvim-lua/popup.nvim"]
	path = plugins/nvim-lua/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim
[submodule "plugins/nvim-lua/plenary.nvim"]
	path = plugins/nvim-lua/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "plugins/nvim-telescope/telescope.nvim"]
	path = plugins/nvim-telescope/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "plugins/kabouzeid/nvim-lspinstall"]
	path = plugins/kabouzeid/nvim-lspinstall
	url = git@github.com:kabouzeid/nvim-lspinstall.git
[submodule "plugins/neovim/nvim-lspconfig"]
	path = plugins/neovim/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "plugins/hrsh7th/nvim-compe"]
	path = plugins/hrsh7th/nvim-compe
	url = git@github.com:hrsh7th/nvim-compe.git
[submodule "plugins/mhartington/formatter.nvim"]
	path = plugins/mhartington/formatter.nvim
	url = git@github.com:mhartington/formatter.nvim.git
[submodule "plugins/nvim-treesitter/nvim-treesitter"]
	path = plugins/nvim-treesitter/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "plugins/glepnir/zephyr-nvim"]
	path = plugins/glepnir/zephyr-nvim
	url = git@github.com:glepnir/zephyr-nvim.git
