[submodule "pack/packer/start/packer.nvim"]
	path = pack/packer/start/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
[submodule "plugins/glepnir/galaxyline.nvim"]
	path = plugins/glepnir/galaxyline.nvim
	url = git@github.com:glepnir/galaxyline.nvim
[submodule "plugins/akinsho/nvim-bufferline.lua"]
	path = plugins/akinsho/nvim-bufferline.lua
	url = git@github.com:akinsho/nvim-bufferline.lua
[submodule "plugins/kyazdani42/nvim-web-devicons"]
	path = plugins/kyazdani42/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "plugins/mhinz/vim-startify"]
	path = plugins/mhinz/vim-startify
	url = git@github.com:mhinz/vim-startify
[submodule "plugins/kyazdani42/nvim-tree.lua"]
	path = plugins/kyazdani42/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua
[submodule "plugins/nvim-lua/popup.nvim"]
	path = plugins/nvim-lua/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim
[submodule "plugins/nvim-lua/plenary.nvim"]
	path = plugins/nvim-lua/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "plugins/nvim-telescope/telescope.nvim"]
	path = plugins/nvim-telescope/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "plugins/kabouzeid/nvim-lspinstall"]
	path = plugins/kabouzeid/nvim-lspinstall
	url = git@github.com:kabouzeid/nvim-lspinstall.git
[submodule "plugins/neovim/nvim-lspconfig"]
	path = plugins/neovim/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "plugins/hrsh7th/nvim-compe"]
	path = plugins/hrsh7th/nvim-compe
	url = git@github.com:hrsh7th/nvim-compe.git
[submodule "plugins/mhartington/formatter.nvim"]
	path = plugins/mhartington/formatter.nvim
	url = git@github.com:mhartington/formatter.nvim.git
[submodule "plugins/nvim-treesitter/nvim-treesitter"]
	path = plugins/nvim-treesitter/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "plugins/glepnir/zephyr-nvim"]
	path = plugins/glepnir/zephyr-nvim
	url = git@github.com:glepnir/zephyr-nvim.git
[submodule "plugins/terrortylor/nvim-comment"]
	path = plugins/terrortylor/nvim-comment
	url = git@github.com:terrortylor/nvim-comment.git
[submodule "plugins/f-person/git-blame.nvim"]
	path = plugins/f-person/git-blame.nvim
	url = git@github.com:f-person/git-blame.nvim.git
[submodule "plugins/RRethy/nvim-treesitter-textsubjects"]
	path = plugins/RRethy/nvim-treesitter-textsubjects
	url = git@github.com:RRethy/nvim-treesitter-textsubjects.git
[submodule "plugins/norcalli/nvim-colorizer.lua"]
	path = plugins/norcalli/nvim-colorizer.lua
	url = git@github.com:norcalli/nvim-colorizer.lua.git
[submodule "plugins/yamatsum/nvim-cursorline"]
	path = plugins/yamatsum/nvim-cursorline
	url = git@github.com:yamatsum/nvim-cursorline.git
[submodule "plugins/kevinhwang91/nvim-hlslens"]
	path = plugins/kevinhwang91/nvim-hlslens
	url = git@github.com:kevinhwang91/nvim-hlslens.git
[submodule "plugins/karb94/neoscroll.nvim"]
	path = plugins/karb94/neoscroll.nvim
	url = git@github.com:karb94/neoscroll.nvim.git
[submodule "plugins/ggandor/lightspeed.nvim"]
	path = plugins/ggandor/lightspeed.nvim
	url = git@github.com:ggandor/lightspeed.nvim.git
[submodule "plugins/windwp/nvim-autopairs"]
	path = plugins/windwp/nvim-autopairs
	url = git@github.com:windwp/nvim-autopairs.git
[submodule "plugins/matze/vim-move"]
	path = plugins/matze/vim-move
	url = git@github.com:matze/vim-move.git
[submodule "plugins/voldikss/vim-translator"]
	path = plugins/voldikss/vim-translator
	url = git@github.com:voldikss/vim-translator.git
[submodule "plugins/vhyrro/neorg"]
	path = plugins/vhyrro/neorg
	url = git@github.com:vhyrro/neorg.git
[submodule "plugins/simrat39/symbols-outline.nvim"]
	path = plugins/simrat39/symbols-outline.nvim
	url = git@github.com:simrat39/symbols-outline.nvim.git
[submodule "plugins/npxbr/glow.nvim"]
	path = plugins/npxbr/glow.nvim
	url = git@github.com:npxbr/glow.nvim.git
[submodule "plugins/folke/trouble.nvim"]
	path = plugins/folke/trouble.nvim
	url = git@github.com:folke/trouble.nvim.git
[submodule "plugins/mfussenegger/nvim-dap"]
	path = plugins/mfussenegger/nvim-dap
	url = git@github.com:mfussenegger/nvim-dap.git
[submodule "plugins/rcarriga/nvim-dap-ui"]
	path = plugins/rcarriga/nvim-dap-ui
	url = git@github.com:rcarriga/nvim-dap-ui.git
[submodule "plugins/Pocco81/DAPInstall.nvim"]
	path = plugins/Pocco81/DAPInstall.nvim
	url = git@github.com:Pocco81/DAPInstall.nvim.git
[submodule "plugins/jbyuki/one-small-step-for-vimkind"]
	path = plugins/jbyuki/one-small-step-for-vimkind
	url = git@github.com:jbyuki/one-small-step-for-vimkind.git
[submodule "plugins/numToStr/Navigator.nvim"]
	path = plugins/numToStr/Navigator.nvim
	url = git@github.com:numToStr/Navigator.nvim.git
